/* GENERAL STYLES */

html 
{
    scroll-behavior: smooth;
}

body 
{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section { padding: 5em 2em;}

img 
{
    display: block;
    max-width: 100%;
    pointer-events: none;
}

strong{ font-weight: var(--fw-bold);}

:focus
{
    outline: 3px solid var(--clr-acccent);
    outline-offset: 3px;
}