/* PORTFOLIO SECTION */

.my-projects
{
    background-color: #111;
    color: var(--clr-light);
    text-align: center;

}

.portfolio
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item
{
    background: var(--clr-dark);
    overflow: hidden;
    margin: 12px;
    padding: 24px;
}

.portfolio__img
{
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.portfolio__item:focus
{
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img
{
    transform: scale(1.2);
    opacity: .5;
}

/* PORTFOLIO ITEM INDIVIDUAL */

.portfolio-item-individual
{
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p
{
    text-align: justify;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-item-individual .wrapper
{
    text-align: center;
}

.portfolio-item-individual a
{
    margin-top: 25px;
    position: relative;
}

@media (min-width: 600px) 
{
    .portfolio-item-individual img
    {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 600px) 
{
    .portfolio-item-individual img
    {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

@keyframes animateGif
{
    100% {
        background-position: -8192px;
    }
}

.gif-conainer
{
    width: 128px;
    height: 128px;
    overflow: hidden;
}

.ss-filmstrip
{
    width: 128px;
    height: 8192px;
    background: url("https://kdimitrov096.github.io/img/portfolio/spaceship_rotating_fs.png") no-repeat;
    animation: animateGif 4s steps(64) infinite;
}