/* PORTFOLIO SECTION */

.my-projects
{
    background-color: #111;
    color: var(--clr-light);
    text-align: center;

}

.portfolio
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item
{
    background: var(--clr-dark);
    overflow: hidden;
    margin: 12px;
    padding: 24px;
}

.portfolio__img
{
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.portfolio__item:focus
{
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img
{
    transform: scale(1.2);
    opacity: .5;
}

/* PORTFOLIO ITEM INDIVIDUAL */

.portfolio-item-individual
{
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p
{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}