/* SERVICES SECTION */

.my-services
{
    background-color: #111;
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}

.section__title--services
{
    color: var(--clr--accent);
    position: relative;
}

.section__title--services::after
{
    content: '';
    display: block;
    width: 5em;
    height: 2px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services
{
    margin-bottom: 4em;
}

.service
{
    max-width: 200px;
    margin: 0 auto;
}

@media(min-width: 800px)
{
    .services
    {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .services + .services
    {
        margin-left: 2em;
    }
}